* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #0b0b0c;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #181818;
}
body::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 20px;
  border: 4px solid #181818;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: dimgray;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  width: 100%;
  max-width: 118.6rem;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 9rem;
  background: rgba(11, 11, 12, 0.7);
  border: 1px solid #212121;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.8rem;
  font-family: "Work Sans", sans-serif;
}
header .container ul li:not(:first-child) {
  margin-left: 7.2rem;
}
header .container ul li a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header .container ul li a:hover {
  color: #60d437;
}
@media (max-width: 560px) {
  header {
    height: 7rem;
  }
  header .container ul {
    font-size: 1.4rem;
    max-width: 32rem;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  header .container ul li:not(:first-child) {
    margin-left: 0;
  }
}
.s-inicio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  background: url("../assets/matrix.gif") no-repeat center center;
  background-size: cover;
}
.s-inicio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-inicio .container .logo {
  z-index: 5;
  width: 100%;
  max-width: 97.2rem;
  height: 57.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.s-inicio .container .logo .pacman {
  position: absolute;
}
.s-inicio .container .logo .pacman.tl {
  top: 0;
  left: 0;
  -webkit-animation: float 8s linear infinite;
  animation: float 8s linear infinite;
}
.s-inicio .container .logo .pacman.bl {
  bottom: 0;
  left: 0;
  -webkit-animation: float 6s linear infinite;
  animation: float 6s linear infinite;
}
.s-inicio .container .logo .pacman.tr {
  top: -70px;
  right: 0;
  -webkit-animation: float 5s linear infinite;
  animation: float 5s linear infinite;
}
.s-inicio .container .logo .pacman.br {
  bottom: 0;
  right: 0;
  -webkit-animation: float 12s linear infinite;
  animation: float 12s linear infinite;
}
.s-inicio .container .overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 3;
}
@media (max-width: 768px) {
  .s-inicio {
    min-height: 60vh;
  }
  .s-inicio .container .logo {
    height: 30rem;
  }
  .s-inicio .container .logo img {
    width: 90%;
  }
  .s-inicio .container .logo .pacman {
    width: 8rem;
  }
  .s-inicio .container .logo .pacman.tl {
    width: 6rem;
    top: 0;
    left: 0;
  }
  .s-inicio .container .logo .pacman.bl {
    bottom: -50px;
    left: 0;
  }
  .s-inicio .container .logo .pacman.tr {
    top: -20px;
    right: 100px;
  }
  .s-inicio .container .logo .pacman.br {
    bottom: -50px;
    right: 40px;
  }
  .s-inicio .overlay {
    max-height: 60vh;
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px);
  }
  66% {
    -webkit-transform: translate(0px, -40px);
    transform: translate(0px, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px);
  }
  66% {
    -webkit-transform: translate(0px, -40px);
    transform: translate(0px, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.s-realizacao {
  width: 100%;
  height: 12rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-realizacao .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.s-realizacao .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 9.5rem;
}
.s-realizacao .container ul li {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.s-realizacao .container ul li:not(:first-child) {
  margin-left: 9.5rem;
}
.s-realizacao .container ul li:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.s-realizacao .container ul li a img {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (max-width: 1216px) {
  .s-realizacao ul {
    -webkit-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
  }
}
@media (max-width: 560px) {
  .s-realizacao {
    height: 9rem;
  }
  .s-realizacao ul li a img {
    height: 5rem;
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.s-cronograma {
  width: 100%;
}
.s-cronograma .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto Mono", sans-serif;
}
.s-cronograma .container .left {
  width: 100%;
  max-width: 27.4rem;
  position: sticky;
  top: 0rem;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 14rem;
  padding-bottom: 14rem;
  font-family: "Roboto", sans-serif;
}
.s-cronograma .container .left h2 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 4.2rem;
  line-height: 100%;
  margin-bottom: 3.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 10px dotted #60d437;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.s-cronograma .container .left ul {
  max-width: 22.8rem;
}
.s-cronograma .container .left ul li:not(:last-child) {
  margin-bottom: 6.7rem;
}
.s-cronograma .container .left ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.s-cronograma .container .left ul li a:hover p,
.s-cronograma .container .left ul li a:hover span {
  color: #60d437;
}
.s-cronograma .container .left ul li a.active p,
.s-cronograma .container .left ul li a.active span {
  color: #60d437;
}
.s-cronograma .container .left ul li a p {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3rem;
}
.s-cronograma .container .left ul li a span {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 2.8rem;
  display: block;
}
.s-cronograma .container .rigth {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  margin-bottom: 10rem;
}
.s-cronograma .container .rigth::before {
  content: "";
  position: absolute;
  width: 4px;
  min-height: 100vh;
  top: 16rem;
  bottom: -16rem;
  border-left: 2px dashed #60d437;
}
.s-cronograma .container .rigth .dia-01,
.s-cronograma .container .rigth .dia-02,
.s-cronograma .container .rigth .dia-03 {
  padding-top: 14rem;
  min-height: 100vh;
  padding-left: 5rem;
}
.s-cronograma .container .rigth .dia-01 .dia,
.s-cronograma .container .rigth .dia-02 .dia,
.s-cronograma .container .rigth .dia-03 .dia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 3.2rem;
  line-height: 3rem;
  font-family: "Roboto";
  font-weight: 900;
  color: #60d437;
  margin-bottom: 3.4rem;
}
.s-cronograma .container .rigth .dia-01 .dia span,
.s-cronograma .container .rigth .dia-02 .dia span,
.s-cronograma .container .rigth .dia-03 .dia span {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #60d437;
}
.s-cronograma .container .rigth .dia-01 .evento:not(:last-child),
.s-cronograma .container .rigth .dia-02 .evento:not(:last-child),
.s-cronograma .container .rigth .dia-03 .evento:not(:last-child) {
  margin-bottom: 5rem;
}
.s-cronograma .container .rigth .dia-01 .evento .title,
.s-cronograma .container .rigth .dia-02 .evento .title,
.s-cronograma .container .rigth .dia-03 .evento .title {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 0.8rem;
}
.s-cronograma .container .rigth .dia-01 .evento .description,
.s-cronograma .container .rigth .dia-02 .evento .description,
.s-cronograma .container .rigth .dia-03 .evento .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-cronograma .container .rigth .dia-01 .evento .description .icon,
.s-cronograma .container .rigth .dia-02 .evento .description .icon,
.s-cronograma .container .rigth .dia-03 .evento .description .icon {
  min-width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-cronograma .container .rigth .dia-01 .evento .description .text,
.s-cronograma .container .rigth .dia-02 .evento .description .text,
.s-cronograma .container .rigth .dia-03 .evento .description .text {
  padding-left: 2rem;
  border-left: 2px dashed #fff;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #c4c4cc;
}
.s-cronograma .container .rigth .dia-01 .evento .description .text ul,
.s-cronograma .container .rigth .dia-02 .evento .description .text ul,
.s-cronograma .container .rigth .dia-03 .evento .description .text ul {
  margin-top: 2rem;
}
.s-cronograma .container .rigth .dia-01 .evento .description .text ul li,
.s-cronograma .container .rigth .dia-02 .evento .description .text ul li,
.s-cronograma .container .rigth .dia-03 .evento .description .text ul li {
  list-style: disc;
  margin-left: 2rem;
  color: #c4c4cc;
}
@media (max-width: 991px) {
  .s-cronograma .container .left {
    display: none;
  }
  .s-cronograma .container .rigth::before {
    display: none;
  }
  .s-cronograma .container .rigth .dia-01,
  .s-cronograma .container .rigth .dia-02,
  .s-cronograma .container .rigth .dia-03 {
    padding-left: 0;
    padding-top: 8rem;
  }
}
.s-links {
  padding: 10rem 0;
  background-color: #0f0f0f;
}
.s-links .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-links .container .title .icon {
  margin-right: 2rem;
  height: 3.5rem;
  width: 3.5rem;
}
.s-links .container .title h2 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 4.2rem;
  line-height: 100%;
  border-bottom: 10px dotted #60d437;
}
.s-links .container .socials {
  width: 100%;
  max-width: 120.2rem;
  padding-top: 7.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10rem 7rem;
}
.s-links .container .socials .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 54.3rem;
}
.s-links .container .socials .social .logo {
  width: 20.9rem;
  margin-right: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-links .container .socials .social .links {
  padding-left: 1.8rem;
  border-left: 2px solid #fff;
}
.s-links .container .socials .social .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-links .container .socials .social .links .link:hover .text {
  color: #60d437;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.s-links .container .socials .social .links .link:not(:first-child) {
  margin-top: 1.5rem;
}
.s-links .container .socials .social .links .link .icon {
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-links .container .socials .social .links .link .text {
  margin-left: 1.2rem;
  font-family: "Roboto Mono";
  font-size: 2rem;
  line-height: 2.9rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1210px) {
  .s-links .container .socials {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .s-links .container .socials .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .s-links .container .socials .social .logo {
    margin-right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .s-links .container .socials .social .links {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid #fff;
  }
}
@media (max-width: 991px) {
  .s-links {
    padding: 8rem 0;
  }
}
footer {
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 1.4rem;
}
footer p a {
  margin: 0 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer p a img {
  display: inline;
}
footer p a img:hover {
  -webkit-animation: rotate360 1s forwards;
  animation: rotate360 1s forwards;
}
@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
