.s-inicio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('../assets/gif.png');
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.s-realizacao {
  width: 100%;
  height: 12rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      transition: transform 0.3s;
      &:not(:first-child) {
        margin-left: 10.5rem;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.s-cronograma {
  width: 100%;
  .container {
    display: flex;
    font-family: 'Roboto Mono', sans-serif;
    .left {
      width: 100%;
      max-width: 27.4rem;
      position: sticky;
      top: 0rem;
      left: 0;
      height: fit-content;
      padding-top: 14rem;
      padding-bottom: 14rem;
      font-family: 'Roboto', sans-serif;
      h2 {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 4.2rem;
        line-height: 100%;
        margin-bottom: 3.2rem;
        padding-bottom: 0.5rem;
        border-bottom: 10px dotted $primary-default;
        width: fit-content;
      }
      ul {
        max-width: 22.8rem;
        li {
          &:not(:last-child) {
            margin-bottom: 6.7rem;
          }

          a {
            &:hover {
              p,
              span {
                color: $primary-default;
              }
            }
            &.active {
              p,
              span {
                color: $primary-default;
              }
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            p {
              transition: color 0.3s;

              font-family: 'Roboto';
              font-style: normal;
              font-weight: 900;
              font-size: 3.2rem;
              line-height: 3rem;
            }
            span {
              transition: color 0.3s;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 900;
              font-size: 2.2rem;
              line-height: 2.8rem;
              display: block;
            }
          }
        }
      }
    }
    .rigth {
      width: 100%;
      position: relative;
      overflow-y: hidden;
      margin-bottom: 10rem;
      &::before {
        content: '';
        position: absolute;
        width: 4px;
        min-height: 100vh;
        top: 16rem;
        bottom: -16rem;
        border-left: 2px dashed $primary-default;
      }
      .dia-01,
      .dia-02,
      .dia-03 {
        padding-top: 14rem;
        min-height: 100vh;
        padding-left: 5rem;
        .dia {
          display: flex;
          flex-direction: column;
          font-size: 3.2rem;
          line-height: 3rem;
          font-family: 'Roboto';
          font-weight: 900;
          color: $primary-default;
          margin-bottom: 3.4rem;
          span {
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: $primary-default;
          }
        }
        .evento {
          &:not(:last-child) {
            margin-bottom: 5rem;
          }
          .title {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.6rem;
            margin-bottom: 0.8rem;
          }
          .description {
            display: flex;
            align-items: center;
            .icon {
              min-width: 72px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .text {
              padding-left: 2rem;
              border-left: 2px dashed white;
              font-family: 'Roboto Mono';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              color: #c4c4cc;

              ul {
                margin-top: 2rem;
                li {
                  list-style: disc;
                  margin-left: 2rem;
                  color: #c4c4cc;
                }
              }
            }
          }
        }
      }
    }
  }
}

.s-links {
  padding: 10rem 0;
  background-color: #0f0f0f;
  .container {
    .title {
      display: flex;
      align-items: center;
      .icon {
        margin-right: 2rem;
        height: 3.5rem;
        width: 3.5rem;
      }
      h2 {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 4.2rem;
        line-height: 100%;
        border-bottom: 10px dotted $primary-default;
      }
    }
    .socials {
      width: 100%;
      max-width: 120.2rem;
      padding-top: 7.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10rem 7rem;
      .social {
        display: flex;
        align-items: center;
        width: 56rem;
        .logo {
          width: 20.9rem;
          margin-right: 1.8rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .links {
          padding-left: 1.8rem;
          border-left: 2px solid #fff;
          .link {
            display: flex;
            align-items: center;
            &:hover {
              .text {
                color: $primary-default;
                transform: translateX(5px);
              }
            }
            &:not(:first-child) {
              margin-top: 1.5rem;
            }
            .icon {
              width: 3.5rem;
              height: 3.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .text {
              margin-left: 1.2rem;
              font-family: 'Roboto Mono';
              font-size: 2rem;
              line-height: 2.9rem;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}
