.s-inicio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('../assets/matrix.gif') no-repeat center center;
  background-size: cover;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      z-index: 5;
      width: 100%;
      max-width: 97.2rem;
      height: 57.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .pacman {
        position: absolute;
        &.tl {
          top: 0;
          left: 0;
          animation: float 8s linear infinite;
        }
        &.bl {
          bottom: 0;
          left: 0;
          animation: float 6s linear infinite;
        }
        &.tr {
          top: -70px;
          right: 0;
          animation: float 5s linear infinite;
        }
        &.br {
          bottom: 0;
          right: 0;
          animation: float 12s linear infinite;
        }
      }
    }
    .overlay {
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      z-index: 3;
    }
  }
  @media (max-width: 768px) {
    min-height: 60vh;
    .container {
      .logo {
        height: 30rem;
        img {
          width: 90%;
        }
        .pacman {
          width: 8rem;
          &.tl {
            width: 6rem;
            top: 0;
            left: 0;
          }
          &.bl {
            bottom: -50px;
            left: 0;
          }
          &.tr {
            top: -20px;
            right: 100px;
          }
          &.br {
            bottom: -50px;
            right: 40px;
          }
        }
      }
    }
    .overlay {
      max-height: 60vh;
    }
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(50px, 20px);
  }
  66% {
    transform: translate(0px, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.s-realizacao {
  width: 100%;
  height: 12rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    overflow: hidden;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9.5rem;
      li {
        transition: transform 0.3s;

        &:not(:first-child) {
          margin-left: 9.5rem;
        }
        &:hover {
          transform: scale(1.05);
        }
        a {
          img {
            max-width: max-content;
          }
        }
      }
    }
  }
  @media (max-width: 1216px) {
    ul {
      animation: marquee 20s linear infinite;
    }
  }
  @media (max-width: 560px) {
    height: 9rem;
    ul {
      li {
        a {
          img {
            height: 5rem;
          }
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.s-cronograma {
  width: 100%;
  .container {
    display: flex;
    font-family: 'Roboto Mono', sans-serif;
    .left {
      width: 100%;
      max-width: 27.4rem;
      position: sticky;
      top: 0rem;
      left: 0;
      height: fit-content;
      padding-top: 14rem;
      padding-bottom: 14rem;
      font-family: 'Roboto', sans-serif;
      h2 {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 4.2rem;
        line-height: 100%;
        margin-bottom: 3.2rem;
        padding-bottom: 0.5rem;
        border-bottom: 10px dotted $primary-default;
        width: fit-content;
      }
      ul {
        max-width: 22.8rem;
        li {
          &:not(:last-child) {
            margin-bottom: 6.7rem;
          }

          a {
            &:hover {
              p,
              span {
                color: $primary-default;
              }
            }
            &.active {
              p,
              span {
                color: $primary-default;
              }
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            p {
              transition: color 0.3s;

              font-family: 'Roboto';
              font-style: normal;
              font-weight: 900;
              font-size: 3.2rem;
              line-height: 3rem;
            }
            span {
              transition: color 0.3s;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 900;
              font-size: 2.2rem;
              line-height: 2.8rem;
              display: block;
            }
          }
        }
      }
    }
    .rigth {
      width: 100%;
      position: relative;
      overflow-y: hidden;
      margin-bottom: 10rem;
      &::before {
        content: '';
        position: absolute;
        width: 4px;
        min-height: 100vh;
        top: 16rem;
        bottom: -16rem;
        border-left: 2px dashed $primary-default;
      }
      .dia-01,
      .dia-02,
      .dia-03 {
        padding-top: 14rem;
        min-height: 100vh;
        padding-left: 5rem;
        .dia {
          display: flex;
          flex-direction: column;
          font-size: 3.2rem;
          line-height: 3rem;
          font-family: 'Roboto';
          font-weight: 900;
          color: $primary-default;
          margin-bottom: 3.4rem;
          span {
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: $primary-default;
          }
        }
        .evento {
          &:not(:last-child) {
            margin-bottom: 5rem;
          }
          .title {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.6rem;
            margin-bottom: 0.8rem;
          }
          .description {
            display: flex;
            align-items: center;
            .icon {
              min-width: 72px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .text {
              padding-left: 2rem;
              border-left: 2px dashed white;
              font-family: 'Roboto Mono';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              color: #c4c4cc;

              ul {
                margin-top: 2rem;
                li {
                  list-style: disc;
                  margin-left: 2rem;
                  color: #c4c4cc;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 991px) {
      .left {
        display: none;
      }
      .rigth {
        &::before {
          display: none;
        }
        .dia-01,
        .dia-02,
        .dia-03 {
          padding-left: 0;
          padding-top: 8rem;
        }
      }
    }
  }
}

.s-links {
  padding: 10rem 0;
  background-color: #0f0f0f;
  .container {
    .title {
      display: flex;
      align-items: center;
      .icon {
        margin-right: 2rem;
        height: 3.5rem;
        width: 3.5rem;
      }
      h2 {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 4.2rem;
        line-height: 100%;
        border-bottom: 10px dotted $primary-default;
      }
    }
    .socials {
      width: 100%;
      max-width: 120.2rem;
      padding-top: 7.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10rem 7rem;
      .social {
        display: flex;
        align-items: center;
        width: 54.3rem;
        .logo {
          width: 20.9rem;
          margin-right: 1.8rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .links {
          padding-left: 1.8rem;
          border-left: 2px solid #fff;
          .link {
            display: flex;
            align-items: center;
            &:hover {
              .text {
                color: $primary-default;
                transform: translateX(5px);
              }
            }
            &:not(:first-child) {
              margin-top: 1.5rem;
            }
            .icon {
              width: 3.5rem;
              height: 3.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .text {
              margin-left: 1.2rem;
              font-family: 'Roboto Mono';
              font-size: 2rem;
              line-height: 2.9rem;
              transition: all 0.3s;
            }
          }
        }
      }
    }
    @media (max-width: 1210px) {
      .socials {
        justify-content: flex-start;
      }
    }
    @media (max-width: 600px) {
      .socials {
        .social {
          flex-direction: column;
          .logo {
            margin-right: 0;
            justify-content: center;
            margin-bottom: 1rem;
          }
          .links {
            margin-left: 0;
            border-left: none;
            padding-left: 0;
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: 2px solid #fff;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding: 8rem 0;
  }
}
